.inline {
	display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 17px;
}
.video-list {
	border: 0;
}
.view_more {
	width: 297px;
}
.video-title {
	margin-bottom: 15px;
}

.video-container {
     position: relative;
     padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
     height: 0;
     width: 100%; /* You can set this width to whatever suits your needs */
     margin: 0 auto;
}

.video-container video, .video-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}


@media only screen and (max-width: 768px) {
     .video-main{
          text-align: center;
     }
}
