<?php
/**
 * @category    Wyomind
 * @package     Wyomind_Dynamiccategory
 * @version     2.5.0
 * @copyright   Copyright (c) 2016 Wyomind (https://www.wyomind.com/)
 */
?>
<?php $_element = $block->getElement() ?>
<div class="rule-tree">

    <fieldset style='border:none;' id="<?php echo $_element->getHtmlId() ?>" <?php echo $_element->serialize(['class']) ?>>
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo $_element->getLegend() ?></span></legend>
        <br>   
        <?php if ($_element->getComment()) : ?>
            <div class="messages">
                <div class="message message-notice"><?php echo $block->escapeHtml($_element->getComment()) ?></div>
            </div>
        <?php endif; ?>
        <div class="rule-tree-wrapper">
            <?php echo $_element->getChildrenHtml() ?>
        </div>
    </fieldset>
</div>
<script type="text/javascript">

    require([
        "Magento_Rule/rules",
        "prototype"
    ], function (VarienRulesForm) {
<?php if (!$block->getRequest()->isAjax()) : ?>
    <?php echo $_element->getHtmlId() ?> = new VarienRulesForm('<?php echo $_element->getHtmlId() ?>', '<?php echo $block->getNewChildUrl() ?>');
    <?php if ($_element->getReadonly()) : ?>
        <?php echo $_element->getHtmlId() ?>.setReadonly(true);
    <?php endif; ?>
<?php else : ?>
    <?php echo $_element->getHtmlId() ?>.initialize('<?php echo $_element->getHtmlId() ?>', '<?php echo $block->getNewChildUrl() ?>');
<?php endif; ?>
    });
</script>
