<?php
$data = $block->getVideoCollection();
$selectedId  = $block->getSelectedId();


$searchString = ',';

if( strpos($selectedId, $searchString) !== false ) {
 $videoids = explode(",",$selectedId);
}else{
 $videoids = $selectedId;
}
?>

<div>
   <?php if(is_array($videoids)): ?>
    <?php if ($data->count() > 0) { ?>
        <div class="video-main">
            <?php foreach ($data as $_data) : ?>
                <?php $Id = $_data->getId(); ?>
                <?php if (in_array($Id, $videoids)):?>
                    <div class="inline">
                        <?php $video_method = $block->escapeUrl($_data->getVideo_upload_method()); ?>
                        <div class="video-container">
                            <?php if ($video_method == 'youtube') { ?>
                                <iframe width="295" height="169" src="https://www.youtube.com/embed/<?= $block->escapeUrl($_data->getFile()) ?>?rel=0&autoplay=0&modestbranding=1" allowfullscreen class="video-list"></iframe>
                            <?php } else { ?>
                                <video controls>
                                    <source src="<?= $block->getMediaUrl().$block->escapeUrl($_data->getFile()) ?>" type="video/mp4">
                                    </video>
                                <?php } ?>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php } else { ?>
            <center><h3>No Video Found.</h3></center>
        <?php } ?>
        <?php elseif($videoids == 'all'):  ?>
            <?php if ($data->count() > 0) { ?>
                <div class="video-main">
                    <?php foreach ($data as $_data) : ?>
                        <?php $Id = $_data->getId(); ?>
                        <div class="inline">
                            <?php $video_method = $block->escapeUrl($_data->getVideo_upload_method()); ?>
                            <div class="video-container">
                                <?php if ($video_method == 'youtube') { ?>
                                    <iframe width="295" height="169" src="https://www.youtube.com/embed/<?= $block->escapeUrl($_data->getFile()) ?>?rel=0&autoplay=0&modestbranding=1" allowfullscreen class="video-list"></iframe>
                                <?php } else { ?>
                                    <video controls>
                                        <source src="<?= $block->getMediaUrl().$block->escapeUrl($_data->getFile()) ?>" type="video/mp4">
                                        </video>
                                    <?php } ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php } else { ?>
                    <center><h3>No Video Found.</h3></center>
                <?php } ?>
                <?php else: ?>
                    <?php if ($data->count() > 0) { ?>
                        <div class="video-main">
                            <?php foreach ($data as $_data) : ?>
                                <?php $Id = $_data->getId(); ?>
                                <?php if ($Id == $videoids): ?>
                                    <div class="inline">
                                        <?php $video_method = $block->escapeUrl($_data->getVideo_upload_method()); ?>
                                        <div class="video-container">
                                            <?php if ($video_method == 'youtube') { ?>
                                                <iframe width="295" height="169" src="https://www.youtube.com/embed/<?= $block->escapeUrl($_data->getFile()) ?>?rel=0&autoplay=0&modestbranding=1" allowfullscreen class="video-list"></iframe>
                                            <?php } else { ?>
                                                <video controls>
                                                    <source src="<?= $block->getMediaUrl().$block->escapeUrl($_data->getFile()) ?>" type="video/mp4">
                                                    </video>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                        <?php } else { ?>
                            <center><h3>No Video Found.</h3></center>
                        <?php } ?>
                    <?php endif; ?>
                </div>


                <style type="text/css">
                    .video-main .video-container{
                        max-width: 350px;
                    }
                </style>