<?php
     $data = $block->getVideoDetails();
     $videoTitle  = $block->getTitle();
?>
<div class="breadcrumbs" style="padding:0px;">
<ul class="items">
    <li class="item home">
        <a href="<?php echo $block->getBaseUrl(); ?>"><?php echo __('Home')?></a>
    </li>
    <?php  if ($videoTitle) { ?>
    <li class="item">
        <a href="<?php echo $block->getRefer(); ?>"><?php echo $videoTitle; ?></a>
    </li>
    <?php } ?>
</ul>	
</div>
<?php if (!empty($data['title'])) { ?>
    <div class="page-title-wrapper">
        <h1 class="page-title">
            <span class="base" ><?= $data['title']; ?></span>  
        </h1>
    </div>
<?php } ?>

<?php $video_method = $block->escapeUrl($data['video_upload_method']); ?>
<?php if ($video_method == 'youtube') { ?>
    <center>
        <div class="video-container"><iframe width="100%" height="615px" src="https://www.youtube.com/embed/<?= $block->escapeUrl($data['file']) ?>" allowfullscreen></iframe></div>
    </center>
<?php
} else {
?>   
<center>
    <video width="100%" height="350px" controls allowfullscreen>
        <source src="<?= $block->getMediaUrl().$block->escapeUrl($data['file']) ?>" type="video/mp4">
    </video> 
</center>
<?php } ?>

<?php if (!empty($data['description'])) { ?>
</br>
</br>
<div class="content">
    <p><?= $data['description']; ?></p>
</div>	
<?php } ?>