<?php
/**
 * @category    Wyomind
 * @package     Wyomind_Dynamiccategory
 * @version     2.5.0
 * @copyright   Copyright (c) 2016 Wyomind (https://www.wyomind.com/)
 */
/**
 * @var $block Wyomind_Dynamiccategory_Block_Adminhtml_Category_Dynamic_Conditions_Import
 */
?>
<div class="entry-edit rule-tree">
    <fieldset style='border:none;'>
        <legend class="legend"><span><?php echo __('Import Category Rules') ?></span></legend>
        <br>   
        <?php echo $block->getCategorySelectHtml() ?>
        <button id="import_conditions_button" title="<?php echo $block->escapeHtml(__('Import Conditions')) ?>" type="button" class="scalable">
            <span><span><span><?php echo __('Import') ?></span></span></span>
        </button>
    </fieldset>
</div>
<script type="text/javascript">
    //<![CDATA[
    $('import_conditions_button').observe('click', function () {
        new Ajax.Updater(
                {
                    success: 'category_dynamic_products_conds'
                },
                '<?php echo $block->getImportCondsUrl() ?>',
                {
                    parameters: {category_id: $('import_conditions_field').getValue()},
                    evalScripts: true
                }
        );
    });
    //]]>
</script>
