<?php use Magento\Framework\App\Action\Action; ?>
<?php
$helper = $this->helper('\Magebees\Testimonial\Helper\Data');
$testimonial_config=$block->getTestimonialConfig();
$enabled=$block->getEnabled();
$collection=$block->getTestimonialCollection();
if($collection) {
	$testimonialCollection=$collection->getData(); 
} 
$width=$block->getImageWidth(); 
if(!$width)
{
	$width='100';
}
$height=$block->getImageHeight(); 
if(!$height)
{
	$height='100';
}
$auto_play_slider=$block->getAutoplaySlider(); 
$slider_speed=$block->getSliderSpeed();
if(!$auto_play_slider){
	$auto_play_slider = 'false';
} else {
	if(!$slider_speed){
		$slider_speed="5000";
	}
	$auto_play_slider = $slider_speed;
}
$display_arrow=$block->getShowNavArrow(); 
//echo "arrow".$display_arrow;

if($display_arrow)
{
    $display_arrow='true';	
}
else
{
	$display_arrow='false';
}
$pagination=$block->getShowPagination(); 
//echo "page".$pagination;
if($pagination)
{
    $pagination='true';	
}
else
{
	$pagination='false';
}

?>

<?php if($testimonialCollection && $enabled) { ?>
    <div class="block mageTestimonials">

        <div class="block-content">        
            <div id="magebees_testimonial_sidebar">
                <?php 
                $default_image=$this->getViewFileUrl("Magebees_Testimonial::images/no_profile.png");
                foreach($testimonialCollection as $testimonial) {
                    $show_testimonial=false;
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
                    if ($request->getFullActionName() == 'cms_index_index')  { 
                        if($testimonial['enabled_home']==1) {
                            $show_testimonial=true;
                        }		
                    } 
                    if($show_testimonial==true) { ?>
                        <div class="item">
                            <?php if($this->getShowVideo()):?>
                                <?php if($testimonial['video_url'])	{ ?>
                                    <div id="video" class="mageTmVideo">
                                      <div class="videoWraper">
                                        <?php $link = $testimonial['video_url'];				
                                        $video = explode("?v=", $link);
                                        $video_id = '';
                                        if(isset($video[1])){
                                            $video_id = $video[1];
                                        }
                                        $autoplay = 0;
                                        if($this->getAutoplayVideo()){
                                            $autoplay = 1;
                                        }
                                        
                                        ?>
                                        <?php if (stripos($link,"embed") !== false) {	?>
                                           <iframe src="<?php echo $link."?autoplay=".$autoplay; ?>&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" width="100%" height="400" allowFullScreen></iframe>
                                       <?php } else { ?>
                                           <iframe src="https://www.youtube.com/embed/<?php echo $video_id."?autoplay=".$autoplay; ?>&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" width="100%" height="400" allowFullScreen></iframe>
                                       <?php } ?>
                                   </div>
                               </div>
                           <?php } ?>
                       <?php endif;?>	
                       
                       <div class="mageTmClient">
                        <?php if($this->getShowProfile()):?>
                           <?php if($testimonial['image']){
                               $img_path=$helper->checkImgExist($testimonial['image'],$width,$height);
                           }?>
                           <div class="clientPic"><img src="<?php if($testimonial['image']){ echo $img_path;} else { echo $default_image; }?>" width="<?php echo $width."px" ?>" height="<?php echo $height."px" ?>" alt="" /></div>
                       <?php endif;?>
                   </div>
                   <div class="magetmQuotes">              
                    <?php $length=$this->getContentLength(); $testimonialcontent=$testimonial['testimonial']; 
                    echo $this->limit_word($testimonialcontent,$length);?></div>
                </div><!--item-->
            <?php } } ?>
        </div><!--#magebees_testimonial_sidebar-->
        
    </div>
    
    <script type="text/javascript">
        requirejs(['jquery','domReady!','cwstestimonial'], function($){
            var slidemode=<?php echo $this->getSlidemode();?>;  
            if(slidemode==0) {
                var slidemode=false;
            } else if(slidemode==1) {
                var slidemode='goDown';
            } else {
                var slidemode='fade';
            }               
            var owl = $("#magebees_testimonial_sidebar");
            owl.owlCarousel({
             slideSpeed :200,
             paginationSpeed : 800,					
             singleItem : true,					
             transitionStyle : slidemode,
             navigation: <?php echo $display_arrow ?>,
             pagination: <?php echo $pagination; ?>,
             autoPlay: <?php echo $auto_play_slider ?>,
             stopOnHover:true,
             autoplayHoverPause:false
         });
        });	
    </script>
</div><!--mageTestimonials-->
<?php } ?>
