
<?php if($block->isEnable()): ?>
<li>
    <a href="<?php /* @escapeNotVerified */ echo $block->getHref(); ?>" >
        <?php echo $block->escapeHtml($block->getLabel()); ?>
    </a>
</li>
<?php endif; ?>
