<?php use Magento\Framework\App\Action\Action; ?>
<?php 
$helper = $this->helper('\Magebees\Testimonial\Helper\Data');
$testimonial_config=$block->getTestimonialConfig();
$enabled=$block->getEnabled();
$collection=$block->getTestimonialCollection();
if($collection) {
	$testimonialCollection=$collection->getData(); 
	}
$width=$block->getImageWidth(); 
if(!$width)
{
	$width='100';
}
$height=$block->getImageHeight(); 
if(!$height)
{
	$height='100';
}
$auto_play_slider=$block->getAutoplaySlider(); 
$slider_speed=$block->getSliderSpeed();
if(!$auto_play_slider){
	$auto_play_slider = 'false';
} else {
	if(!$slider_speed){
		$slider_speed="5000";
	}
	$auto_play_slider = $slider_speed;
}
$display_arrow=$block->getShowNavArrow(); 
//echo "arrow".$display_arrow;
if($display_arrow)
{
$display_arrow='true';	
}
else
{
	$display_arrow='false';
}
$pagination=$block->getShowPagination(); 
//echo "page".$pagination;
if($pagination)
{
$pagination='true';	
}
else
{
	$pagination='false';
}
?>

<?php if($testimonialCollection && $enabled) { ?>
<div class="block mageTestimonials">
    <div class="block-title">
    	<h3><?php 
		$title=$block->getTestimonialTitle();
		if($title!='0')
		{
			echo $block->getTestimonialTitle();
		}
		else{
			echo('Customer Testimonial');
		} ?></h3>
    </div>
    <div class="block-content">      
        <div id="magebees_testimonial_slider">
            <?php 
            $default_image=$this->getViewFileUrl("Magebees_Testimonial::images/no_profile.png");
            foreach($testimonialCollection as $testimonial)
            {
                $show_testimonial=false;
                if($this->getType()=='Magebees\Testimonial\Block\Widget\Testimonialwidget')
             {
                 if($testimonial['enabled_widget']==1) {
                     $show_testimonial=true; }
             } else {
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
                if ($request->getFullActionName() == 'cms_index_index') 
                {
                     if($testimonial['enabled_home']==1)
                    {
                        $show_testimonial=true;
                    }		
                }
                else
                {
                    $show_testimonial=true;
                }
            }
            if($show_testimonial==true)
            {
            ?>
            <div class="item">
                <?php if($this->getShowVideo()):?>
                    <?php if($testimonial['video_url'])	{ ?>
                        <div id="video" class="mageTmVideo">
                        	<div class="videoWraper">
								<?php $link = $testimonial['video_url'];				
                                      $video = explode("?v=", $link);
							$video_id = '';
							if(isset($video[1])){
								$video_id = $video[1];
							}
							$autoplay = 0;
							if($this->getAutoplayVideo()){
								$autoplay = 1;
							}
									  
                            ?>
							<?php if (stripos($link,"embed") !== false) {	?>
									<iframe src="<?php echo $link."?autoplay=".$autoplay; ?>&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" width="100%" height="400" allowFullScreen></iframe>
								<?php } else { ?>
									<iframe src="https://www.youtube.com/embed/<?php echo $video_id."?autoplay=".$autoplay; ?>&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" width="100%" height="400" allowFullScreen></iframe>
								<?php } ?>
                            </div>
                    	</div>
                    <?php }?>
                <?php endif;?>		
            
<div class="magetmQuotes">				
				<?php $length=$this->getContentLength(); $testimonialcontent=$testimonial['testimonial']; 
				echo $this->limit_word($testimonialcontent,$length);?></div>                
                <div class="mageTmClient">
                    <?php if($this->getShowProfile()):?>
					<?php if($testimonial['image']){
					$img_path=$helper->checkImgExist($testimonial['image'],$width,$height);
				}?>
                        <div class="clientPic"><img src="<?php if($testimonial['image']){ echo $img_path; } else { echo $default_image; }?>" width="<?php echo $width."px" ?>" height="<?php echo $height."px" ?>" alt="" /></div>
                    <?php endif;?>
                    <div class="clientDetails">
                        <div class="clientname">
                        	<b><?php echo $testimonial['name']; ?>, </b>
                            <span class="mageTmComp">
                        	<?php if($this->getShowWebsite()):?>
                                <a href="<?php echo $testimonial['website']; ?>" target="_blank"><?php echo $testimonial['company']; ?></a>
                                <?php else:?>
                                 <?php if($this->getShowCompany()):?>
                                    <?php echo $testimonial['company']; ?>
                                <?php endif;?>
							<?php endif;?>
                           	</span>
                        </div>
                        
                        <?php if($this->getShowEmail()):?>
                            <div class="mageTmEmail"><i title="Email"></i> <?php echo $testimonial['email']; ?></div>
                        <?php endif;?>
                        
                        <?php if(($this->getShowAddress())&&($testimonial['address'])):?>
                            <div class="mageTmAddress"><i title="Address"></i> <?php echo $testimonial['address']; ?></div>
                        <?php endif;?>
                        
                        <?php if($this->getShowCreatedate()):?>
                            <div class="mageTmDate"><i title="Posted on"></i> <?php echo $testimonial['inserted_date']; ?></div>
                        <?php endif;?>
                        
                        <?php if($this->getShowRating()):?>
                            <?php if($testimonial['rating'])
                                { ?>	
                                    <div id="ratings" class="mageTmRating">
                                        <?php $rating =$testimonial['rating'];
                                        $src=$this->getViewFileUrl("Magebees_Testimonial::images/rating.png");
                                        $src_empty=$this->getViewFileUrl("Magebees_Testimonial::images/empty_rating.png");
                                        $i=0;
                                        while($i<5){
                                            if($i<$rating){ ?>
                                                <img src= "<?php echo $src ?>" height="15" width="15" />
                                            <?php } else{ ?>
                                                <img src= "<?php echo $src_empty ?>" height="15" width="15" />
                                            <?php }
                                            $i++;
                                        }?>
                                    </div>
                                <?php } ?>
                        <?php endif;?>
                    </div>
                </div>
            </div>	
            <?php } } ?>
        </div>
        <div class="button-set"><a href="<?php /* @escapeNotVerified */ echo $this->getUrl('testimonial/'); ?>" id="view_all" class="action primary"><span><?php echo('View all'); ?></span></a></div>
    </div>
</div><!--mageTestimonials-->

<script type="text/javascript">
	requirejs(['jquery','domReady!','cwstestimonial'], function($){			
  	var slidemode=<?php echo $this->getSlidemode();?>;
		if(slidemode==0)
		{
			var slidemode=false;
		}
		else if(slidemode==1)
		{
			var slidemode='goDown';
		}
		else
		{
			var slidemode='fade';
		}
		var autoplay=<?php echo $auto_play_slider ?>;	
			var owl = $("#magebees_testimonial_slider");
				owl.owlCarousel({
					slideSpeed :200,
					paginationSpeed : 800,					
					singleItem : true,					
					transitionStyle : slidemode,
					navigation: <?php echo $display_arrow ?>,
					pagination: <?php echo $pagination; ?>,
					autoPlay:autoplay,
					stopOnHover:true,
				    autoplayHoverPause:false
		  	});
		});	
</script>
<?php } ?>

		
