<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');

// Daily deal Helper 
$dailydealhelper=$this->helper('Smartwave\Dailydeals\Helper\Data');

$_category_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category');
$_category_grid_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category_grid');
$_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');
$move_actions = "";
$flex_grid = "";
$_lazyload = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/optimization/lazyload');
?>
<?php $iterator = 1; ?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
    <?php else: ?>
        <?php echo $block->getToolbarHtml() ?>
        <?php echo $block->getAdditionalHtml() ?>
        <?php
        if ($block->getMode() == 'grid') {
            $viewMode = 'grid';
            $image = 'category_page_grid';
            $hover_image = 'category_page_grid-hover';
            $showDescription = false;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $columns = 'columns'.$_category_grid_config['columns'];
            $move_actions = $_category_grid_config['move_actions'];
            if(isset($_category_grid_config['flex_grid']) && $_category_grid_config['flex_grid'])
                $flex_grid = "flex-grid";
        } else {
            $viewMode = 'list';
            $image = 'category_page_list';
            $hover_image = 'category_page_list-hover';
            $showDescription = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
            $columns = '';
        }
        $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
        $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;
        if($_category_config['aspect_ratio'])
            $image_height = $image_width;
        ?>
        <div class="products wrapper <?php echo $viewMode; ?> <?php echo $columns; ?> <?php echo $flex_grid; ?> products-<?php echo $viewMode; ?>">
            <?php $iterator = 1; ?>
            <ol class="products list items product-items <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <?php echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                    <div class="product-item-info" data-container="product-grid">
                        <?php // Product Image ?>
                        <div class="product photo product-item-photo">
                            <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                                <?php
                                if($_category_config['aspect_ratio'])
                                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                                else
                                    $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                                $productImageUrl = $productImage->getUrl();
                                ?>
                                <img class="product-image-photo default_image <?php if(!$_lazyload): ?>porto-lazyload<?php endif;?>" <?php if(!$_lazyload): ?>data-<?php endif; ?>src="<?php echo $productImageUrl; ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"/>
                                <?php if($_category_config['alternative_image']): ?>
                                    <?php
                                    if($_category_config['aspect_ratio'])
                                        $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                                    else
                                        $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                                    $productHoverImageUrl = $productHoverImage->getUrl();
                                    ?>
                                    <?php if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                                        <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>"/>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </a>
                            <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label">'.'-'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                            ?>
                            <!-- Dailydeal Product data -->
                            <?php if($dailydealhelper->isDealProduct($_product->getId())) : ?>
                                <input type="hidden" id="todate_<?php echo $iterator; ?>" value="<?php echo $dailydealhelper->getDailydealToDate($_product->getSku()); ?>" >
                                <input type="hidden" id="fromdate_<?php echo $iterator; ?>" value="<?php echo $dailydealhelper->getDailydealFromDate($_product->getSku()); ?>">
                                <div class="sw-dailydeal-wrapper" style="display:none;">
                                    <div class="sw-dailydeal">
                                        <p id="expired_<?php echo $iterator; ?>"></p> 
                                        <div class="countdowncontainer_<?php echo $iterator; ?>" style="display:none;">
                                            <span class="dailydeal-label">
                                                <?php echo __('Ends In:'); ?>
                                            </span>
                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number day"><p id="countdown_days_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption"><?php echo __('Day(s), '); ?></div>
                                            </span>

                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number hour"><p id="countdown_hours_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption">:</div>
                                            </span>

                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number min"><p id="countdown_minutes_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption">:</div>
                                            </span>

                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number sec"><p id="countdown_seconds_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption"></div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?> 
                            <!-- Dailydeal Product End -->
                            <?php if($_category_config['actions'] && $move_actions): ?>
                                <div class="product-item-inner">
                                    <div class="product actions product-item-actions">
                                        <div class="actions-primary">
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                    <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                        <div class="qty-box">
                                                            <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                            <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                            <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                        </div>
                                                    <?php endif;?>
                                                    <?php echo $block->getBlockHtml('formkey')?>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('ADD TO BAG')); ?>"
                                                    class="action tocart primary">
                                                    <span><?php echo __('ADD TO BAG') ?></span>
                                                </button>
                                            </form>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <?php if ($block->getMode() == 'grid'): ?>
                                                <?php if($_category_config['addtowishlist']): ?>
                                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                                    <a href="#"
                                                    class="action towishlist actions-secondary"
                                                    title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                    aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                    data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                                    data-action="add-to-wishlist"
                                                    role="button">
                                                    <span><?php echo __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <?php if($_category_config['addtocompare']): ?>
                                        <?php
                                        $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                        ?>
                                        <a href="#"
                                        class="action tocompare actions-secondary"
                                        title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                        aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                        data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                        role="button">
                                        <span><?php echo __('Add to Compare') ?></span>
                                    </a>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <!-- ************gallery images**************** -->
                    <?php
                    $productImageHelper = '';
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());        
                    $images = $product->getMediaGalleryImages();
                    $productImageHelper = $this->helper('\Magento\Catalog\Helper\Image');
                    ?>
                    <a href="<?php echo $_product->getProductUrl() ?>">
                        <div style="display: none" class="gallery-images-list owl-carousel">
                            <?php
                            $j=1;
                            foreach($images as $child): 
                                $imageUrl = $productImageHelper->init($_product, 'product_page_image_large')->setImageFile($child->getFile())->resize(460,460)->getUrl();
                                if($j <= 5):        
                                    ?>
                                    <div class="item-galary">
                                       <img src="<?php echo $imageUrl; ?>" >
                                   </div>
                                   <?php
                               endif;
                               $j++;    
                           endforeach; ?>
                       </div>
                   </a>
                   <!-- ************gallery images**************** -->
               </div>
               <div class="product details product-item-details metiz">
                <?php
                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                ?>
                <?php if(!$_category_grid_config['move_title']):?>

                    <strong class="product name product-item-name">
                        <a class="product-item-link"
                        href="<?php echo $_product->getProductUrl() ?>">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                    </a>
                </strong>
            <?php endif;?>
            <?php if($_category_config['rating_star']): ?>
                <?php
                $review_html = $block->getReviewsSummaryHtml($_product, $templateType);
                ?>
                <?php if($review_html): ?>
                    <?php echo $review_html; ?>
                    <?php else: ?>
                        <div class="product-reviews-summary short">
                            <div class="rating-summary">
                                <span class="label"><span>Rating:</span></span>
                                <div class="rating-result" title="0%">
                                    <span style="width:0"><span>0%</span></span>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if($_category_grid_config['move_title']):?>
                    <div class="genname-price">
                       <div class="product-generic-name col-md-8">
                        <?php if($_product->getProductGenericName()): ?>
                            <?php echo $_product->getProductGenericName(); ?>
                            <?php else:?>
                                <?php echo __('Los Polistas'); ?>
                            <?php endif; ?>    
                        </div>
                        <div class="product-price col-md-4">
                            <?php if($_category_config['product_price']): ?>
                                <?php echo $block->getProductPrice($_product) ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    <strong class="product name product-item-name col-md-12">
                        <a class="product-item-link"
                        href="<?php echo $_product->getProductUrl() ?>">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                    </a>
                </strong>
            <?php endif;?>
            <?php if ($showDescription):?>
                <div class="product description product-item-description">
                    <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
                     class="action more"><?php echo __('Learn More') ?></a>
                 </div>
             <?php endif; ?>



             <?php if($_category_config['actions'] && !$move_actions): ?>
                <div class="product-item-inner">
                    <div class="product actions product-item-actions">

                        <div class="actions-primary col-md-6">
                            <?php if ($_product->isSaleable()): ?>
                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                    <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                    <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                    <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                        <div class="qty-box">
                                            <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                            <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                            <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                        </div>
                                    <?php endif;?>
                                    <?php echo $block->getBlockHtml('formkey')?>
                                    <button type="submit"
                                    title="<?php echo $block->escapeHtml(__('ADD TO BAG')); ?>"
                                    class="action tocart primary">
                                    <span><?php echo __('ADD TO BAG') ?></span>
                                </button>
                            </form>
                            <?php else: ?>
                                <?php if ($_product->getIsSalable()): ?>
                                    <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                            <?php //if ($block->getMode() == 'grid'): ?>
                            <div class="product-wishlist col-md-6">
                                <?php if($_category_config['addtowishlist']): ?>
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                    class="action <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                    title="<?php echo $block->escapeHtml(__('WishList')); ?>"
                                    aria-label="<?php echo $block->escapeHtml(__('WishList')); ?>"
                                    data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                    data-action="add-to-wishlist"
                                    role="button">
                                    <span class="Wishlist"><?php echo __('WishList') ?></span>
                                </a>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <?php //endif; ?>
                    <div class="size-attribute col-md-12">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                    </div>
                        <?php /* if ($block->getMode() != 'grid'): ?>
                            <?php if($_category_config['addtowishlist']): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                <a href="#"
                                class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                data-action="add-to-wishlist"
                                role="button">
                                <span class="Wishlist"><?php echo __('WishList') ?></span>
                            </a>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; */ ?>
                <?php if($_category_config['addtocompare']): ?>
                    <?php
                    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                    ?>
                    <a href="#"
                    class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                    title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                    aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                    data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                    role="button">
                    <span><?php echo __('Add to Compare') ?></span>
                </a>
            <?php endif;?>
        </div>
    </div>
<?php endif; ?>
</div>
</div>
<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
<?php endforeach; ?>
</ol>
</div>
<?php if(isset($_category_grid_config['infinite_scroller']) && $_category_grid_config['infinite_scroller']):?>
    <div class="infinite-loader"><div class="loading"><?php echo __("Loading ..."); ?></div><a href="javascript:void(0)" class="btn-load-more"><?php echo __("Load More ..."); ?></a></div>
<?php endif;?>
<?php echo $block->getToolbarHtml() ?>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
        }
    }
</script>
<?php endif; ?>
<?php if ($block->getMode() == 'grid'): ?>
    <script type="text/javascript">
        require([
            'jquery'        
            ], function ($) {
                $('.main .products.grid .product-items li.product-item:nth-child(2n)').addClass('nth-child-2n');
                $('.main .products.grid .product-items li.product-item:nth-child(2n+1)').addClass('nth-child-2np1');
                $('.main .products.grid .product-items li.product-item:nth-child(3n)').addClass('nth-child-3n');
                $('.main .products.grid .product-items li.product-item:nth-child(3n+1)').addClass('nth-child-3np1');
                $('.main .products.grid .product-items li.product-item:nth-child(4n)').addClass('nth-child-4n');
                $('.main .products.grid .product-items li.product-item:nth-child(4n+1)').addClass('nth-child-4np1');
                $('.main .products.grid .product-items li.product-item:nth-child(5n)').addClass('nth-child-5n');
                $('.main .products.grid .product-items li.product-item:nth-child(5n+1)').addClass('nth-child-5np1');
                $('.main .products.grid .product-items li.product-item:nth-child(6n)').addClass('nth-child-6n');
                $('.main .products.grid .product-items li.product-item:nth-child(6n+1)').addClass('nth-child-6np1');
                $('.main .products.grid .product-items li.product-item:nth-child(7n)').addClass('nth-child-7n');
                $('.main .products.grid .product-items li.product-item:nth-child(7n+1)').addClass('nth-child-7np1');
                $('.main .products.grid .product-items li.product-item:nth-child(8n)').addClass('nth-child-8n');
                $('.main .products.grid .product-items li.product-item:nth-child(8n+1)').addClass('nth-child-8np1');
            });
        </script>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
    require([
        'jquery'        
        ], function ($) {
// Timer for LEFT time for Dailydeal product
var _second = 1000;
var _minute = _second * 60;
var _hour = _minute * 60;
var _day = _hour * 24;
var timer;

function showRemaining(currentdate) 
{
    var count;
    for (count = 2; count <= <?php echo $iterator; ?>; count++) 
    {
            // get Value of dailydeal product
            var cid='countdown_'+count;
            var daysid='countdown_days_'+count;
            var hoursid='countdown_hours_'+count;
            var minutesid='countdown_minutes_'+count;
            var secondsid='countdown_seconds_'+count;

            var startdateid='fromdate_'+count;
            var id='todate_'+count;

            var enddate = new Date($('#'+id).val());
            var dealstartdate=new Date($('#'+startdateid).val());

            // Get Current Date from magentodatetime
            var currentdate=new Date(currentdate);

            //Get Difference between Two dates
            var distance = enddate - currentdate;

            $('.sw-dailydeal-wrapper').show();

            if (distance < 0) {
               // clearInterval(timer);
               $('#expired_'+count).html("<span style='font-size:25px; color:#000;'>EXPIRED!<span>");

           } else if(dealstartdate > currentdate) {
             $('.countdowncontainer_'+count).hide();
             var msg="<span style='font-size:15px; color:#000;'> Coming Soon..<br>Deal Start at:<br>"+$('#'+startdateid).val()+"<span>";
             $('#expired_'+count).html(msg);
         } else {
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            if(hours < 10)
                hours = "0" + hours;
            if(minutes < 10)
                minutes = "0" + minutes;
            if(seconds < 10)
                seconds = "0" + seconds;
            $('.countdowncontainer_'+count).show();
            $('#'+daysid).html(days);
            $('#'+hoursid).html(hours);
            $('#'+minutesid).html(minutes);
            $('#'+secondsid).html(seconds);
        }
    }
}

    //Set date as magentodatetime 
    var date = new Date('<?php echo $dailydealhelper->getcurrentDate() ?>');
    
    var day   = date.getDate();
    var month = date.getMonth();
    var year  = date.getFullYear();
    var hours = date.getHours();
    var minutes = "0" + date.getMinutes();
    var seconds = "0" + date.getSeconds();

    var fulldate = year+'-'+(month+1)+'-'+day+' '+hours + ':' + minutes.substr(minutes.length-2) + ':' + seconds.substr(seconds.length-2);

    // Set Interval
    timer = setInterval(function() 
    {
        date.setSeconds(date.getSeconds() + 1);
        var month=date.getMonth();
        var currentdatetime=date.getFullYear()+"-"+(month+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
        showRemaining(currentdatetime);
    }, 1000); 
});   
</script>
<?php
echo $block->getChildHtml('filter_toggle');
?>

<script type="text/javascript">
  require([
    'jquery',
    'owl.carousel/owl.carousel.min'
    ], function ($) {
        $(".gallery-images-list").owlCarousel({
          autoplay: true,
          autoplayTimeout: 1500,
          autoplayHoverPause: false,
          loop: true,
          navRewind: true,
          margin: 0,
          nav: false,
          dots: true,
          items : 1
      });
    });
</script>