.page-header.type11 .minicart-wrapper{position:absolute;top:50%;right:15px;margin-top:-20px}
.user-account{position: absolute;right: -25px;font-size: 18px;top: 5px;}

@media only screen and (max-width:767px){
    .page-header.type11 .nav-toggle{float:right}
    .page-header.type11 .logo{height:40px;float:left;margin:10px 0}
    .page-header.type11 .logo img{max-width:100%;max-height:100%;width:auto}
    .page-header.type11 .minicart-wrapper{position:relative;top:auto;right:auto;left:auto;margin:10px 0;float:right}
    .page-header.type11 .block-search{float:none;margin-bottom:0}
    .page-header.type11 .block-search .label{float:right;margin:10px 0;line-height:40px;margin-right:10px}
    .page-header.type11 .custom-block{display:none}
    .user-account{display:none}
    
    .footer-section2 .block-1, .footer-section2 .block-2, .newsletter-block {
        text-align: center;
    }
    .footer-top .footer-section3 img {
        max-width: 25%;
    }
    .footer-section4 .block-left, .footer-section4 .block-right {
        text-align: center;
        margin-bottom: 23px;
    }
    .footer-icon.col-lg-2{
        margin: 0px;
    }
}
@media all and (min-width:768px),print{
    header.page-header.sticky-header.type11 .nav-sections{background-color:#fff}
    header.page-header.sticky-header.type11 .navigation{text-align:left}
    .page-header.type11{background-color:#fff;color:#777;border-top-width:0px}
    .page-header.type11 .logo{margin:20px 0}
    .page-header.type11 .header.content{text-align:center}
    .page-header.type11>.panel.wrapper{background-color:#f0f0ed;color:#777}
    .page-header.type11 .panel.header .switcher{border-left:1px solid #ccc;padding:0 15px}
    .page-header.type11 .panel.header .switcher:first-child{border-left:0;padding-left:0}
    .page-header.type11 .panel.header .switcher:last-child{padding-right:0}
    .page-header.type11 .panel.header .header.links>li>a{color:#08c}
    .page-header.type11 .panel.header .header.links>li>a:hover{color:#08c}
    .page-header.type11 .nav-sections{background-color:transparent;color:#777;margin-bottom: 5px;padding-top: 5px;border-top: 3px solid #eff0f2;}
    .page-header.type11 .navigation{background-color:transparent;padding:0 15px;text-align:center}
    .page-header.type11 .navigation>ul{padding:0;background-color:transparent;border-radius:5px}
    .page-header.type11 .navigation>ul li{text-align:left;}
    .page-header.type11 .navigation li.level0{margin-right:3px;color:#0c1032}
    .page-header.type11 .navigation li.level0.last{margin-right:0}
    .page-header.type11 .navigation li.level0>.level-top{color:inherit;padding:0 20px;line-height:40px}
    .page-header.type11 .navigation li.level0:hover>.level-top{color:inherit}
    .page-header.type11 .navigation li.level0.active,.page-header.type11 .navigation li.level0:hover{border-radius:5px;color:#fff !important;background-color:#9e753f;}
    .page-header.type11 .navigation li.level0.parent:hover{border-radius:5px 5px 0 0}
    .page-header.type11 .navigation li.level0.parent>a:after{line-height:40px}
    .page-header.type11 .block-search{margin:0;position:absolute;left:15px;top:50%;margin-top:-20px;width:300px}
    .page-header.type11 .block-search input{background-color:#fff;color:#777;border-color:#ccc;height:36px}
    .page-header.type11 .block-search .action.search{border-left:1px solid #ccc;padding:0 10px;height:36px;line-height:36px}
    .page-header.type11 .block-search .action.search:focus:before{color:#777}
    .page-header.type11 .block-search .action.search:before,.page-header.type11 .block-search .action.search:hover:before{color:#777}
    .page-header.type11 .block-search .action.search:hover{border-left-width:1px}
    .page-header.type11 .custom-block{height:40px;line-height:40px;position:absolute;top:50%;right:60px;margin-top:-20px;font-size:14px;color:#777}
    .page-header.type11 .custom-block>*{display:inline-block;vertical-align:middle}
    .page-header.type11 .custom-block>a{font-size:12px}
    .page-header.type11 .search-category select{border:none}
}
.page-header.type11 .menu-right-block li{width: 25%;}
.sticky-header .sticky-logo .logo img{height: 60px;}
header.page-header.sticky-header .navigation li.level0 > .level-top{line-height: 60px;}
header.page-header.sticky-header .navigation li.level0.parent > a:after{line-height: 60px;}
.navigation.sw-megamenu{position: inherit;}
.nav-sections-item-content .navigation.sw-megamenu > ul{position: inherit;}
.nav-sections-item-content .sw-megamenu.navigation li.level0.fullwidth > .submenu{max-width: 100%;}
.nav-sections-item-content .sw-megamenu.navigation li.level0.fullwidth > .submenu > .container{max-width: 1140px;}
.sw-megamenu.navigation li.level0.fullwidth .submenu a.menulabel{text-align: center;width: 100%;float: left;font-size: 16px;font-weight: 400;}

.custommenumen li{float: left;}
.sw-megamenu.navigation li.level0.fullwidth:hover > .submenu{padding: 20px 8px 20px;}
.nav-sections-item-content .navigation{font-size: 16px;}

.footer .footer-top {background-color: #ffffff;}
.footer-section1 {border-top: 3px solid #EFF0F2; border-bottom: 3px solid #EFF0F2;}
.footer-top-block {width: 100%;padding: 0;text-align: center;margin: 15px 0 15px 0;}
.footer-icon.col-lg-2 {width: 100%;display: inline-block;margin: 0px 15px;}
.footer-icon.col-lg-2 img {width: 100px;display: inline-block;padding: 20px;text-align: center;}
.footer-icon.col-lg-2 p {font-size: 15px; color: #0c1032; font-family: GFS Didot;}
.footer-section2 {margin-top: 35px;}
.footer-section2 .block-1 {width: 100%;text-align: left;color: #735835;font-family: GFS Didot;margin-bottom: 20px;}
.footer-section2 .block-1 .ul-1 {margin-bottom: 21px;}
.footer-section2 .block-1 ul li a {color: #735835; font-size: 18px; font-family: GFS Didot;}
.footer-section2 .block-2 {text-align: center;width: 100%;float: none;color: #735835;font-family: GFS Didot;margin-bottom: 20px;}
.footer-section2 .block-2 p a {text-align: center;font-size: 18px;color: #735835;}
.newsletter-block {text-align: right;margin-bottom: 20px;}
.newsletter-block .block-title-1 {color: #735835;font-family: GFS Didot;text-align: right;margin-bottom: 15px;}
.newsletter-block .block-title-2 {color: #735835;font-family: GFS Didot;text-align: right;margin-bottom: 15px;}
.footer-section3 {text-align: center;margin-top: 30px;margin-bottom: 30px;}
.footer-section3 img {width: 100%;margin: 0 auto;max-width: 15%;}
.footer-section4 .block-left {font-size: 14px;color: #000;font-family: GFS Didot;margin-top: 10px;}
.footer-section4 .block-right {text-align: right;margin-top: 10px;}
.footer-section4 div {float: left;}
.block-middle.col-md-4 {text-align: center;margin-bottom: 25px;}
.footer-section4 .block-middle a {font-size: 25px;background-color: lightgray;border-radius: 50%;padding: 6px 12px 6px 12px;color: #FFF;}
.footer-section5 {height: 72px;}
.footer-top .block.newsletter {width: auto;max-width: 400px;display: inline-block;}
.block.newsletter .form.subscribe span {float: left;}
#footer_newsletter {border: 3px solid #BDAF9D;}
.block.newsletter .form.subscribe .action.subscribe.primary {background-color: #fff;color: #BDAF9D;font-size: 30px;border-top: 3px solid #BDAF9D;border-right: 3px solid #BDAF9D;border-bottom: 3px solid #BDAF9D;border-left: 1px solid #BDAF9D;margin-top: 0px;padding-top: 2px;}
.footer-top a {text-decoration: none;}
.footer-top a:hover {background-color: #ffffff}
.section6 {display: none;}
.block.newsletter .form.subscribe .action.subscribe.primary:hover {background-color: #9E753F;color: #ffffff;}
.footer-top h2 {font-size: 16px !important;}
.footer-top a {font-size: 14px !important;}
@media (max-width:992px){
    .block.newsletter .form.subscribe span{float: none;}
    .block.newsletter .form.subscribe .action.subscribe.primary {width: 100%;border-left: 3px solid lightgray;border-top: 1px solid lightgray;}
    .footer-section4 .block-left{display: none;}
    .section6 {display: block;width: 100%;clear: both;text-align: center;padding: 15px 0;background-color: lightgray;color: #000;font-size: 17px;}
    .footer-section4 .block-right {float: right;}
}
@media (max-width:867px){
    .block.newsletter .form.subscribe span{float: none;}
    .newsletter-block .block-title-1 h2, .newsletter-block .block-title-2 h2{text-align: center;}
}

#mageplaza-bannerslider-block-before-page-top-1 .content h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 10px;
    margin-top:0;
}
#mageplaza-bannerslider-block-before-page-top-1 .content span {
    font-family: 'Oswald';
    font-size:18px;
    line-height:25px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform:uppercase;
}
#mageplaza-bannerslider-block-before-page-top-1 .content .btn-default {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.05em;
    padding: 12px 27px;
    border-radius:3px;
    background-color: #0088cc;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase; 
    margin-top: 28px;
}
#mageplaza-bannerslider-block-before-page-top-1 .border-top {
    position:absolute;
    top:-52px;
    left:9%;
}
#mageplaza-bannerslider-block-before-page-top-1 .border-bottom {
    position:absolute;
    bottom:-38px;
    left:9%;
}
@media(max-width:767px){
    #mageplaza-bannerslider-block-before-page-top-1 .border-top,#mageplaza-bannerslider-block-before-page-top-1 .border-bottom {
      display:none;
  } 
  #mageplaza-bannerslider-block-before-page-top-1 .content {
      top:25% !important;
  }
  #mageplaza-bannerslider-block-before-page-top-1 .content.content-slide-1 {
      top:25%!important;
      left: 2.4%; 
  }
  #mageplaza-bannerslider-block-before-page-top-1 .content span { 
      font-size:10px !important;
      line-height:1!important; 
  }
  #mageplaza-bannerslider-block-before-page-top-1 .content h2 { 
      font-size: 20px !important; 
      margin-bottom: 5px;
      margin-top:0;
  }
  #mageplaza-bannerslider-block-before-page-top-1 .content .btn-default {
      font-size: 10px;
      line-height: 25px;
      padding: 2px 12px;
      margin-top: 0px;
  }
}
#banner-slider-carousel .owl-dots, #banner-slider-carousel .owl-nav .owl-prev, #banner-slider-carousel .owl-nav .owl-next{display: block !important;opacity:1;position: absolute;}
.carousel-container  #banner-slider-carousel .owl-nav{position: absolute;top: 50%;width: 100%;left: 0;}
.owl-carousel .owl-controls .owl-nav [class*="owl-"], .owl-carousel .owl-controls .owl-nav [class*="owl-"]{font-size: 40px;pointer-events: all;}
.top-block-header a, .top-block-header a:hover{color: #FFF;}
.top-header-left{font-size:12px;text-transform:uppercase;font-weight:400;line-height:24px;text-align:left;}
.top-header-middle{font-size:17px;text-align:center;font-weight:400;line-height:24px;}
.top-header-right{font-size:12px;text-align:right;font-weight:400;line-height:24px;}
@media only screen and (max-width:767px){
    .footer-section2 .block-1, .footer-section2 .block-2, .newsletter-block {
        text-align: center;
    }
    .footer-top .footer-section3 img {
        max-width: 25%;
    }
    .footer-section4 .block-left, .footer-section4 .block-right {
        text-align: center;
        margin-bottom: 23px;
    }
    .footer-icon.col-lg-2{
        margin: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .owl-item .productslider .product .product-name-slider p{
    font-size: 17px;
    display: inline;
}
}

@media (min-width: 768px) and (max-width: 840px) {
  .owl-item .productslider .product .product-name-slider p{
    font-size: 17px;
    display: inline;
}
}

/*********detail page***********/
.catalog-product-view .product_generic_name {
    font-size: 40px;
    color: #000;
    margin-bottom: 8px;
}
.catalog-product-view .product-info-main .page-title-wrapper h1 {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: normal;
    color: #000;
    margin: 3px 0 5px;
}
.product-info-main .product-info-stock-sku {
    display: none;
}
.catalog-product-view .product-info-main .product-info-price {
    margin-top: 30px;
    /*border: none;*/
}
.catalog-product-view .product-info-main .product-info-price .price-box .price-container .price {
    font-size: 30px;
    font-family: GFS Didot;
    color: #000;
    font-weight: normal;
}
.catalog-product-view  .product-info-main .swatch-attribute-label {
    color: #000;
    font-size: 27px;
    font-weight: normal;
}
.catalog-product-view  .product-info-main .swatch-attribute.color {
    margin-bottom: 25px;
}
.catalog-product-view  .product-info-main .swatch-attribute.size .swatch-option {
    background: #fff;
    color: #000000;
    border-color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-right: 12px;
}
.catalog-product-view  .product-info-main .swatch-attribute.size .swatch-option.selected{
    border-color: #000000;
    outline: 1px solid #000000;
}
.catalog-product-view .product.media .fotorama__stage {
    border: none;
}
.page-wrapper .breadcrumbs .items .item.home a::after {
    content: none;
}
.page-wrapper .breadcrumbs .items .item.home a {
    display: inline-table;
    color: #000;
    text-decoration: none;
}
.page-wrapper .breadcrumbs .items .item {
    color: #000;
    font-size: 15px;
}
.page-wrapper > .breadcrumbs .items {
    padding: 0 15px 0 34px;
}
.catalog-product-view .page-wrapper .breadcrumbs {
    border-top: 3px solid #eff0f2;
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 20px;
}
/*.product-options-bottom .action.primary.tocart {
    background-color: #9e753f;
    width: 300px;
    height: 43px;
    font-weight: normal;
    }*/
    .product-options-bottom .action.primary.tocart {
        background-color: #9e753f;
        width: 100%;
        height: 100%;
        padding: 9px 90px;
        font-size: 20px !important;
        vertical-align: middle;
        margin: 0 auto;
    }
    .product-options-bottom .action.primary.tocart::before{
        content: none;
    }
    .product-detailpage-slider .product-generic-name {
        text-align: left;
        font-size: 17px;
        color: #000;
        text-transform: uppercase;
        width: 60%;
        float: left;
    }
    .product-detailpage-slider .products-grid .product-item-details .product-price {
        width: 38%;
        float: right;
        text-align: right;
        margin-right: 3px;
    }
    .product-detailpage-slider .product-item-details .product-price .price-box span.price {
        font-size: 17px;
    }
    .product-detailpage-slider .product-item-details .genname-price {
        margin-bottom: 10px;
        margin-left: 3px;
    }
    .product-detailpage-slider .product-item .price-box .price-label{
        display: none;   
    }
    .product-detailpage-slider .filterproduct-title {
        background: none;
        text-align: center;
        font-size: 28px;
        font-weight: normal;
        padding-bottom: 10px;
    }
    .product-detailpage-slider .container, .product-detailpage-slider .mini-container{
        padding: 0px;
    }
    .product-detailpage-slider .products-grid .product-item-details .product-price .price-box.price-final_price {
        margin: 0;
    }
    #tab-label-reviews {
        display: none;
    }
    .catalog-product-view .product-info-main .product-info-price .price-box .old-price .price {
        font-size: 15px;
        color: gray;
    }
    .catalogsearch-result-index .page-title-wrapper {
        text-align: center;
        background-color: ;
    }
    /*************category sliders*******/
    .products-grid .product-item .genname-price {
        overflow: hidden;
        clear: both;
    }
    .products-grid .product-item .genname-price .product-generic-name {
        float: left;
        font-size: 17px;
        text-transform: uppercase;
        color: #000;
        font-weight: normal;
        text-align: left;
        padding: 0 0 0 3px;
    }
    .products-grid .product-item .product-price {
        float: left;
        padding: 0 0 0 3px;
        text-align: right;
    }
    .products-grid .product-item .product-price .price-box {
        margin: 0;
    }
    .products-grid .product-item .product-price .price-box .price-label {
        display: none;
    }
    .products-grid .product-item .product-price .price-box .price {
        font-size: 16px;
        font-weight: normal;
        font-family: GFS Didot;
        color: #000;
    }
    .products-grid .product-item .product-price .price-box .old-price .price {
        color: gray;
        font-size: 12px;
    }
    .products-grid .product-item .product.name.product-item-name {
        text-align: left;
        margin-top: 7px;
        padding: 0 0 0 3px;
    }
    .products-grid .product-item .product.name.product-item-name .product-item-link{
        font-size: 16px;
        color: #000;
    }
    .products-grid .product-item .product-item-details{
        position: relative !important;
    }
    .product-item-inner {
        display: none;
    }
    .owl-item.active:hover .product-item-inner, .item.product.product-item:hover .product-item-inner {
        display: block;
    }
    .products-grid .product-item .product-item-details .product-item-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
        height: 100%;
    }
    .products-grid .product-item .product-item-details .product-item-inner .product-item-actions {
        padding: 10px 10px 10px 10px;
        overflow: hidden;
        clear: both;
    }
    .products-grid .product-item .product-item-details .product-item-inner .actions-primary.col-md-6 {
        float: left;
        padding-right: 2px;
        padding-left: 0px;
    }
    .products-grid .product-item .product-item-details .product-item-inner .product-wishlist.col-md-6 {
        float: left;
        padding-left: 2px;
        padding-right: 0px;

    }
    .products-grid .product-item .product-item-details .product-item-inner .product-wishlist.col-md-6 > a {
        text-transform: uppercase;
        font-size: 12.53px;
        font-family: GFS Didot;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #6f6e6c;
        line-height: 30px;
        background-color: #f4f4f4;
        border-color: #f4f4f4;
        padding: 0 10px;
        height: 32px;
        width: 100%;
        clear: both;
        overflow: hidden;
        display: block;
        border: 1px solid;
        text-decoration:none;
    }
    .products-grid .product-item-details .product-item-inner .product-item-actions .tocart::before{
        content: none;
    }
    .products-grid .product-item-details .product-item-inner .product-item-actions .tocart {
        border: 1px solid;
        font-family: GFS Didot;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .products-grid .product-item-info:hover .product-item-details .product-item-actions .tocart {
        border-color: #9e753f !important;
        background-color: #9e753f !important;
    }
    .products-grid .product-item-details .product-item-inner .size-attribute{
        overflow: hidden;
        padding-left: 1px;
    }
    .products-grid .product-item-details .product-item-actions{
        margin:0 auto !important;
    }
    .products-grid .product-item-details{
        height: 110px;
    }
    .product.info.detailed.accordion .product.data.items > .item.title[aria-expanded="false"] > a.switch span{
        color: #000;
    }
    .product-info-main .product-info-price .price-box .price-final_price > span.price-label {
        display: none;
    }
    .product.data.items .item.title a {
        color: #000 !important;
        border-color: #eeeeee !important;
    }
    .product.data.items .item.title a::after {
        font-size: 35px;
        color: #000;
        display: block;
    }
    @media (min-width: 1201px){
        .products-grid .product-item-details .product-item-actions .tocart {
            font-size: 16px;
        }
        .products-grid .product-item-details .product-item-inner .product-item-actions .tocart {
            height: 42px;
            font-size: 16px;
        }
        .products-grid .product-item .product-item-details .product-item-inner .product-wishlist.col-md-6 > a {
            font-size: 16px;
            height: 42px;
        }
        .products-grid .product-item .product-item-details .product-item-inner .product-wishlist.col-md-6 > a {
            font-size: 16px;
            line-height: 40px;
        }
    }
    @media (max-width: 767px){
        .products-grid .product-item .product-item-details .product-item-inner .product-wishlist.col-md-6 > a {
            width: 100%;
        }
        .products-grid .product-item-details .product-item-inner .product-item-actions .tocart{
            width: 100%;
            margin-bottom: 5px;
        }
        .products-grid .product-item .product-price {
            text-align: left;
        }
        .products-grid .product-item-details .product-item-inner .size-attribute { 
            display: none;
        }
        .products-grid .product-item .product.name.product-item-name {
            margin-top: 0px;
        }
        .products-grid .product-item .genname-price .product-generic-name {
         font-size: 15px;
     }
     .products-grid .product-item .product-price .price-box .price {
      font-size: 15px;
  }
}
@media (max-width: 500px){
    .products-grid .product-item-details .product-item-actions .tocart {
        font-size: 10px;
    }
    .products-grid:not(.side-list) .product-item .product-item-info .product.name a {
        font-size: 11px !important;
    }
    .products-grid .product-item .product-price .price-box .price {
        font-size: 12px;
    }
    .products-grid .product-item .genname-price .product-generic-name {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px){
    .block-search .block-content,
    .page-header.type11 .block-search{
      width: auto;
  }
  .block-search .control{
      text-align: left;
  }
  .page-header.type11 .block-search .actions{
      display: inline-block;
      width: auto;
  }
  .page-header.type11 .block-search input{
      width: 0;
      max-width: 0px;
      border: 0;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
      z-index: 0;
      position: relative;
      left: 0;
  }
  .page-header.type11 .block-search input:focus{
      position: inherit;
      max-width: 300px;
      padding: 10px 50px 10px 20px;
      width: 100%;
      cursor: text;
  }
  .page-header.type11 .block-search .action.search{
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      border-left: 0;
      z-index: 0;
  }
  .page-header.type11 .block-search input:focus + .actions .action.search{
      left: 84% !important;
      -webkit-animation-name: mymove; / Safari 4.0 - 8.0 /
      -webkit-animation-duration: 5s; / Safari 4.0 - 8.0 /
      -moz-animation-name: mymove; / Safari 4.0 - 8.0 /
      -moz-animation-duration: 5s; 
      animation-name: mymove;
      animation-duration: 0.4s;
      border-left: 1px solid #ccc;
      cursor: pointer;
      pointer-events: auto;
      z-index: 1;
  }
  @-webkit-keyframes mymove {
      from {left: 0px;}
      to {left: 89.2% !important;}
  }

  @keyframes mymove {
      from {left: 0px;}
      to {left: 89.2% !important;}
  }
}

 .catalog-category-view .products-grid .product-items .item.product.product-item:hover .gallery-images-list {
    display: block !important;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.catalog-category-view .gallery-images-list .owl-stage-outer{
    width: 100%;
    height: 100%;
}
