<!--@subject {{var subject}}@-->

{{template config_path="design/email/header_template"}}

<p class="greeting">Hello {{var name}},</p>
<p>
Thank you for submit Testimonial.Your Testimonial is approved.	
</p>
{{template config_path="design/email/footer_template"}}

