<?php
/**
 * @category    Wyomind
 * @package     Wyomind_Dynamiccategory
 * @version     2.5.0
 * @copyright   Copyright (c) 2016 Wyomind (https://www.wyomind.com/)
 */
?>
<div class="entry-edit rule-tree" id="category_dynamic_products_conds">
    <?php echo $block->getFormHtml(); ?>
</div>
<?php echo $block->getChildHtml('form_after'); ?>
<?php if ($block->getCategory()->getId() && $block->getCategory()->getDynamicProductsRefresh() && $block->getCategory()->getDynamicProductsConds()) : ?>
    <div id="category_dynamic_products_grid">
        <div id="category_dynamic_products_loading" class="sloader-dynamic-category">
            <img src="<?php echo $block->getViewFileUrl('Wyomind_DynamicCategory::images/ajax-loader.gif') ?>" class="f-left">&nbsp;<?php echo __('Please wait...') ?>
        </div>
        <script type="text/javascript">
            //<![CDATA[  
            $('catalog_category_products').setStyle({display: 'none'});
            $('dynamic_category_refresh_btn').setStyle({display: 'none'});
            var req = new Ajax.Updater(
                    {
                        success: 'catalog_category_products',
                        failure: 'category_dynamic_products_loading'
                    },
                    '<?php echo $block->getGridUrl() ?>',
                    {
                        evalScripts: true,
                        loaderArea: false,
                        onSuccess: function (response) {
                            $('catalog_category_products').setStyle({display: 'block'});
                            $('dynamic_category_refresh_btn').setStyle({display: 'block'});
                            $('category_dynamic_products_grid').remove();
                            new Ajax.Request('<?php echo $block->getProductCountUrl() ?>', {
                                loaderArea: false,
                                onSuccess: function (response) {
                                    var count = parseInt(response.responseText, 10);
                                    $$('.x-tree-selected A SPAN')[0].update($$('.x-tree-selected A SPAN')[0].innerText.replace(/\([0-9]+\)/, "(" + count + ")"));
                                    var deps = [];
                                    deps.push('mage/adminhtml/grid');
                                    require(deps, function(){
                                        //<![CDATA[
                                        debugger;
                                        <?php $catId = $this->getCategory()->getId(); ?>
                                        <?php $url = $this->getUrl('catalog/category/grid',['id'=>$catId]); ?>
                                        catalog_category_productsJsObject = new varienGrid(
                                            "catalog_category_products",
                                            '<?php echo $url; ?>',
                                            'page',
                                            'sort',
                                            'dir',
                                            'filter'
                                        );
                                        catalog_category_productsJsObject.useAjax = '1';
                                        catalog_category_productsJsObject.rowClickCallback = openGridRow;
                                        //]]>
                                    });
                                }
                            });

                        }
                    }
            );
            Ajax.Responders.register({
                onCreate: function () {
                    req.transport.abort();
                }
            });
            //]]>
        </script>
    </div>
    <?php

endif ?>