<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Catalog\Block\Adminhtml\Category\AssignProducts $block */
/** @var \Magento\Catalog\Block\Adminhtml\Category\Tab\Product $blockGrid */
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?php echo $block->getImportHtml(); ?>
<br/>
<br/>
<?php echo $block->getConditionsHtml(); ?>
<?php $url = $block->getUrl('*/dynamic_category/forceRefresh', ['_current' => true]); ?>
<br>
<?php echo $block->getRefreshButtonHtml(); ?>
<br>
<?php echo $block->getGridHtml(); ?>
<input type="hidden" name="category_products" id="in_category_products" data-form-part="category_form" value="" />
<input type="hidden" name="dynamic_products_conds[force]" id="force_refresh_products" data-form-part="category_form" value="0">
<script type="text/x-magento-init">
    {
    "*": {
    "Magento_Catalog/catalog/category/assign-products": {
    "selectedProducts": <?php /* @escapeNotVerified */ echo $block->getProductsJson(); ?>,
    "gridJsObjectName": <?php /* @escapeNotVerified */ echo '"' . $gridJsObjectName . '"' ? : '{}'; ?>
    }
    }
    }
</script>
<!-- @todo remove when "UI components" will support such initialization -->
<script>
    require('mage/apply/main').apply();
</script>
