<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
$_helper = $this->helper('Smartwave\Porto\Helper\Data');
?>
<div class="block newsletter">
    <div class="content">
        <form class="form subscribe"
        novalidate
        action="<?php echo $block->getFormActionUrl() ?>" method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-detail">
        <span><input name="email" type="email" id="footer_newsletter" data-validate="{required:true, 'validate-email':true}" placeholder="<?php echo __('enter your email id here');?>"/></span>
        <span><button class="action subscribe primary" title="<?php echo __('Subscribe') ?>" type="submit"><span>↵</span></button></span>
    </form>
</div>
</div>
